
*{
    scroll-behavior: smooth;
}

.jumbotron {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

/*------------------------- Navbar------ */
.container-nav {
    padding: 0;
}

.bg-dark {
    background-color: rgba(100, 100, 100, 0.5) !important;
}

/*------------------------- Header------ */
.header-text {
    color: black;
    text-align: center;
    padding: 0;
}

.header-text {
    margin: 0;
    color: #ffffff;
    height: auto;
    width: auto;
    padding-top: 20%;
}

/*------------------------- Body------ */




/*------------------------- Home------ */

#home{
    padding-top: 250px;
}

#home h1{
    text-decoration: underline;
}


/*------------------------- About------ */


.aboutme-container{
    color: #ffffff;
    margin-left: 1%;
    background-color: rgba(100, 100, 100, 0.5);
}

.header-aboutme{
    text-align: center;
}
.about-text{
    text-align: center;
    text-justify: left;
}

#about{
    text-align: center;
}

.about-text{
    padding: 0;
}

.about-textp{
    text-align: center;
    text-justify: left;
    padding-top: 10px;
}

#landing-background { 
    background: url("/assets/images/landing-page.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    border-radius: 0;  
}

#content-picture2 {
    background: url("../images/content-picture2.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    border-radius: 0;
    padding-top: 200px;
}

#content-picture3 {
    background: url("../images/content-picture3.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    border-radius: 0;
}

#content-picture4 {
    background: url("../images/content-picture4.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    border-radius: 0;
}



/*------------------------- Form------ */

#contact{
    padding-top: 0;
}

.form-group{
    max-width: 40%;
    background-color: rgba(132, 132, 132, 0.2);
    margin-top: 10%;
    margin-left: 15%;
}

/*------------------------- Footer------ */

footer{
    background: rgba(100, 100, 100, 0.5);
    color: #fafafa;
    min-height: 90px;
    margin-top: 15%;
}

.footer-position{
    margin-top: 190px;
}

.inline-block{
    display: inline-block;
}

.list-inline a{
    color: #fafafa;
}


/*------------------------- Colours------ */


/*------------------------- Media Query's------ */
@media only screen and (max-width: 576px) {
    #contact{
    padding-top: 150px;
    }
    .form-group{
    max-width: 80%;
    background-color: rgba(132, 132, 132, 0.2);
    margin-top: 15%;
    margin-left: 0;
    }
    .row{
    margin: 0;
    }
}
/* test */

