
*{
    scroll-behavior: smooth;
    font-size: 15px;
    color: #fafafa;
}

.jumbotron {
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.row{
    margin: 0;
}

.container-fluid{
    padding: 0;
}

/*------------------------- Colours------ */

.bg-nav{
    background: rgba(100, 100, 100, 0.5);
}

.bg-card{
   background-color: rgba(100,100,100, 0.6);
}

/* ------------------------ Images */
#landing-background { 
    background: url("/assets/images/landing-page.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    border-radius: 0;  
}

#content-picture2 {
    background: url("../images/content-picture2.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    border-radius: 0;
    padding-top: 200px;
}

#content-picture3 {
    background: url("../images/content-picture3.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    border-radius: 0;
}

#content-picture4 {
    background: url("../images/content-picture4.jpg") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    border-radius: 0;
}

/*------------------------- Navbar------ */
.container-nav {
    padding: 0;
}

/*------------------------- Header------ */

.header-text {
    margin: 0;
    color: #ffffff;
    text-align: center;
    height: auto;
    width: auto;
    padding-top: 20%;
}

/*------------------------- Body------ */




/*------------------------- Home------ */

#home{
    padding-top: 25%;
}

#home h1{
    text-decoration: underline;
}


/*------------------------- About------ */


.aboutme-container{
    color: #ffffff;
    margin-left: 1%;
    background-color: rgba(100, 100, 100, 0.5);
}

.header-aboutme{
    text-align: center;
}
.about-text{
    text-align: center;
}

#aboutme{
    text-align: center;
    max-width: 25%;
}

#furtherinfo{
    text-align: center;
    max-width: 25%;
}

.about-text{
    padding: 0;
}

.about-text p{
    text-align: left;
    padding-top: 10px;
    padding-left: 4%;
}

/*------------------------- Portfolio------ */

.card-skills{
    padding-top: 0;
    color: #fafafa;
    margin-bottom: 30px;
}

.heading-skills {
    color: #fafafa;
    text-align: center;
    padding-top: 60px;
}

/* ------------------------ Second Portfolio--- */

.card-skills {
    margin-top: 50px;
    margin-bottom: 0px;
}

.example-piece {
    margin-top: 50px;
    padding-bottom: 50px;
    }

.github-account {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0px;
    }

    .html-portfolio {
    margin-right: auto;
    margin-left: auto;
    }

    .css-portfolio {
    margin-right: auto;
    margin-left: auto;
    }

    .responsive-portfolio {
    margin-right: auto;
    margin-left: auto;
    }

    .resume-portfolio {
    margin-right: auto;
    margin-left: auto;
    }

    .github-portfolio {
    margin-right: auto;
    margin-left: auto;
    }

    .github-icon{
    font-size: 400%;
    text-align: center;
    }

    .github-icon:hover {
    color: #303030;
    }


/*------------------------- Form------ */

#contact{
    padding-top: 0;
}

.form-group{
    max-width: 40%;
    background-color: rgba(132, 132, 132, 0.2);
    margin-top: 10%;
    margin-left: 15%;
}

.first-name{
    padding-top: 25px;
}

/*------------------------- Footer------ */

footer{
    background: rgba(100, 100, 100, 0.5);
    color: #fafafa;
    min-height: 90px;
}

.inline-block{
    display: inline-block;
}

.list-inline a{
    color: #fafafa;
}

.cv-download{
    text-align: center;
    color: #fafafa;
    text-decoration: none;
}

.cv-download i{
    font-size: 400%;
}

.cv-download i:hover {
    color: #303030;
    }

.social-media{
    text-align: center;
}

.social-media h5{
    margin-right: auto;
    margin-left: auto;
}

.social-media i{
    font-size: 400%;
    padding: auto 0;
}

.social-media i:hover {
    color: #303030;
    }


/*------------------------- Media Query's------ */
@media only screen and (max-width: 576px) {
    #home{
    padding-top: 25%;
    }

    #contact{
    padding-top: 150px;
    }
    .form-group{
    max-width: 80%;
    background-color: rgba(132, 132, 132, 0.2);
    margin-top: 15%;
    margin-left: 0;
    }
    .row{
    margin: 0;
    }

    .heading-skills {
    color: #fafafa;
    text-align: center;
    padding-top: 20px;
    }

    .card-portfolio{
    padding-bottom: 20px;
    border-bottom: 1px solid #fafafa;
    }

    .html-portfolio {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    }

    .css-portfolio {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    }

    .responsive-portfolio {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    }

    .resume-portfolio {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    }

    .github-portfolio {
    margin-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 40px;
    }

    .example-piece {
    padding-bottom: 50px;
    }
}